<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head.ejs') %>
        <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>

        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src="<%=product.imageCover%>"" width=" 100%" id="MainImg" alt="<%=product.name%>">

                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="../img/products/f1.jpg" width="100%" class="small-ing" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="../img/products/f2.jpg" width="100%" class="small-ing" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="../img/products/f3.jpg" width="100%" class="small-ing" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="../img/products/f4.jpg" width="100%" class="small-ing" alt="">
                    </div>
                </div>
            </div>

            <div class="single-pro-details">
                <h6>Home / T-Shirt</h6>
                <h4>
                    <%= product.name%>
                </h4>
                <h2>$<%=product.priceOrigin%>
                </h2>
                <select>
                    <option>Seclect Size</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>Small</option>
                    <option>Large</option>
                </select>
                <input type="number" value="1">
                <button class="normal"><a href="/cart/add-to-cart?id=<%=product.id%>">
                        Add To Cart
                    </a>
                </button>
                <h4>Product Details</h4>
                <span>dadajshdijashjidha</span>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Featured Products</h2>
            <p>Summer Collection New Morden Design</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="img/products/n1.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

                <div class="pro">
                    <img src="img/products/n2.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

                <div class="pro">
                    <img src="img/products/n3.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

                <div class="pro">
                    <img src="img/products/n4.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

            </div>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <%- include('./includes/footer.ejs')%>

            <script>
                var MainImg = document.getElementById("MainImg");
                var smallimg = document.getElementsByClassName("small-ing");

                smallimg[0].onclick = function () {
                    MainImg.src = smallimg[0].src;
                }
                smallimg[1].onclick = function () {
                    MainImg.src = smallimg[1].src;
                }
                smallimg[2].onclick = function () {
                    MainImg.src = smallimg[2].src;
                }
                smallimg[3].onclick = function () {
                    MainImg.src = smallimg[3].src;
                }
            </script>


</body>

</html>